[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ZBC device manipulation library. When submitting a bug report, PLEASE DO NOT SUBMIT CONFIDENTIAL INFORMATION OR INFORMATION SPECIFIC TO DRIVES THAT ARE VENDOR SAMPLES OR NOT PUBLICLY AVAILABLE.
[access "refs/*"]
	owner = group user/Nathaniel Roiger (TweakySolution)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nathaniel Roiger (TweakySolution)
	label-Verified = -1..+1 group user/Nathaniel Roiger (TweakySolution)
	push = group user/Nathaniel Roiger (TweakySolution)
	read = group user/Nathaniel Roiger (TweakySolution)
	rebase = group user/Nathaniel Roiger (TweakySolution)
	removeReviewer = group user/Nathaniel Roiger (TweakySolution)
	submit = group user/Nathaniel Roiger (TweakySolution)
[access "refs/heads/*"]
	create = group user/Nathaniel Roiger (TweakySolution)
	push = +force group user/Nathaniel Roiger (TweakySolution)
	pushMerge = group user/Nathaniel Roiger (TweakySolution)
	read = group user/Nathaniel Roiger (TweakySolution)
[access "refs/tags/*"]
	push = group user/Nathaniel Roiger (TweakySolution)
	push = +force group user/Nathaniel Roiger (TweakySolution)
